body { /*ändra body*/
  background-color: #faebd7;
  margin: 0%;
}

@media only screen and (max-width: 1200px){ /*när fönstret blir mindre än 1200 px så ändras det man valt*/
  body{
    background-color: rgba(168, 102, 222, 0.5); /*ändrar till den rgba färgen */
  }
}

.headergrid { 
  color: black; /*färgen svart på texten i griden*/
  background-color: hsla(290,60%,70%,0.3); /*backgrunds färgen */
  text-align: left;
  height: 80px; /*hur många pixlar i i height den ska vara*/
} 

.footergrid{
  background-color: blueviolet; 
  text-align: center;
  position: fixed; /**/
  bottom: 0%; /*den stanar på botten */
  width: 100%; 
}


.iphone{
  height: 50px;
  width: 50px;
}

ul {
  list-style-type: none; /* har ingen typ av speciel lista */
  margin-left: auto; /* margin har jag på auto*/
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
}
  
.globalmenu {
  display: inline-block; /* de lådorna som vissas i listan */
  margin-left: auto; /* margin auto för att få det i mitten */
  padding-top: 0px; /* ingen mellanrum till kanterna*/
  padding-bottom: 0px;
  text-align: center; /* texten kommer i mitten av lådorna */
}

.localmenu{
  display: inline-block; /* de lådorna som vissas i listan */
  margin-left: 0px; /* margin auto för att få det i mitten */
  padding-top: 0px; /* ingen mellanrum till kanterna*/
  padding-bottom: 0px;
}

li a { /* texten i listan */
  display: block; /* de blir till*/
  color: white; /* färgen av texten */
  text-align: center; /* texten kommer i mitten */  
  text-decoration: none; 
  font-family: Arial, Helvetica, sans-serif; /* textens utseende i listan */
  padding: 14px 16px; /* hur mycket mellanrum det ska vara mellan backround och under texten */
  font-size: 20px;
}

a:visited{
  color: black /*färgen efter man har tryckt på en länk */
}

a:hover{
  color: hsl(19, 100%, 50%); /*färgen när du håller över länken */
}

a:active{
  background-color: black; /*när du trycker */
}

.grid1{
  display: grid; /**/
  grid-template-columns: auto auto;  /*avståndet och vart de kommer är auto*/ 
  column-gap: 40px; /*avståndet mellan de grid items*/
  padding: 200px;
}

.grid2{
  display: grid;
  grid-template-columns: auto auto auto;  
  column-gap: 10%;
  margin-left: 10%;
  line-height: 3em;
}

.grid3{
  display: grid;
  grid-template-columns: 1fr 2fr;   
  margin-left: 36em; /*den håller sig 36 em ifrån vänster sida*/
  grid-template-areas: /*säger hur placeringen kommer att vara */
  "menu"
  "content"
  ;
}

.grid-item1{        
  grid-area: menu; /*menu som är kopplat till den över */
}

.grid-item2{
  grid-area: content;/*samma här */
}


.List1{
  border: 2px solid black; /*tjockleken och färgen */
  border-collapse: collapse; /*inte flera linjer utan de går ihop*/
  border-radius: 25px; /*rundade hörn*/
  height: 500px /*höjden */
}


.photo{
  border: 2px solid black;
  border-collapse: collapse; 
  border-radius: 1.5em;
  height: 50ex; 
  width: 45ex;
}


.video{
  height: 1000px;
  width: 700px;
  border: 3px solid blue;
}


.video2{
  height: 1000px;
  width: 700px;
  border: 3px solid purple;
}


.video3{
  height: 1000px;
  width: 700px;
  border: 3px solid orange; 
}

.video4{
  height: 1000px;
  width: 700px;
  border: 3px solid green;
}
.top{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  max-width: 600px;
  border-radius: 10px;
}


table,th,td{ 
  border: 3px solid black; 
  border-collapse: collapse;
  padding: 15px; 
}
  
  
.tablespecs{ 
  table-layout: auto;
  width: 60%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%; /* hur mycket avstånd ska finnas från toppen och table*/
}
  
th{
  background-color:seashell; /* Sätter en seperat backgrunds färg på th*/
}
  
tr:nth-child(odd) {
  background-color: #FF66B2; /* all tr rader som är udda blir #FF66B2 färgen */
}

tr:nth-child(even){
  background-color: #23d5ab; /* alla jämna tr rader blir #23d5ab färgen*/
}

td:nth-child(even) {
  text-align: center; /* alla td jämna rader får texten på höger */
}

tr{
  text-align: center; /*texten cenreras i tr*/
}


.kamera{
  vertical-align: text-bottom;/*kameran alignar med botten av raden */
  width: 20px; /*storleken*/
  height: 18px; /*storleken */
}


caption{
  font-size: 25px;
  font-weight: bold;
}

