body {
    background-color: antiquewhite;
    margin: 0;
}

header {
  background-color: skyblue;
  text-align: left;
} 

.headerimg{
  text-align: left;
  margin-left: 0px;
  height: 100px;
  width: 100px;
}

ul {
    list-style-type: none; /* har ingen typ av speciel lista */
    background-color:skyblue; /* backgrund färgen till listan*/
    margin-left: auto; /* margin har jag på auto*/
    margin-right: auto;
    margin-top: auto;
    max-width: 2000px; /* listan kan inte vara längre än 700px */
    text-align: center;
}
  
.globalmenu {
  display: inline-block; /* de lådorna som vissas i listan */
  margin-left: auto; /* margin auto för att få det i mitten */
  padding-top: 0px; /* ingen mellanrum till kanterna*/
  padding-bottom: 0px;
  text-align: center; /* texten kommer i mitten av lådorna */
}
  
li a { /* texten i listan */
  display: block; /* de blir till*/
  color: white; /* färgen av texten */
  text-align: center; /* texten kommer i mitten */  
  padding: 14px 16px; /* hur mycket mellanrum det ska vara mellan backround och under texten */
  text-decoration: none; 
  font-family:Verdana, Geneva, Tahoma, sans-serif; /* textens utseende i listan */
  font-size: 15px;
}

a:visited{
  color: black;
}

a:hover{
  background-color: blue;
}

a:active{
  background-color: yellow;
}

.grid1{
  display: grid;
  grid-template-columns: auto auto;   
  column-gap: 40px;
  padding: 200px;
}

.grid2{
  display: grid;
  grid-template-columns: auto auto auto;  
  column-gap: 10%;
  margin-left: 10%;
  line-height: 3em;
}

.top{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  max-width: 600px;
}

table,th,td{ 
  border: 3px solid black; 
  border-collapse: collapse;
  padding: 15px;
}
  
  
.tablespecs{ 
  table-layout: auto;
  width: 60%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%; /* hur mycket avstånd ska finnas från toppen och table*/
}
  
th{
  background-color:seashell; /* Sätter en seperat backgrunds färg på th*/
}
  

tr:nth-child(odd) {
  background-color: #FF66B2; /* all tr rader som är udda blir #FF66B2 färgen */
}

tr:nth-child(even){
  background-color: #23d5ab; /* alla jämna tr rader blir #23d5ab färgen*/
}

td:nth-child(even) {
  text-align: center; /* alla td jämna rader får texten på höger */
}

tr{
  text-align: center;
}

.kamera{
  vertical-align: text-bottom;
  width: 20px; 
  height: 18px; 
}

caption{
  font-size: 25px;
  font-weight: bold;
}

